<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/slide.js"></script>
<script src="/static/js/common_js.js" type="text/javascript"></script>
<script src="/static/js/jquery.foucs.js" type="text/javascript"></script>
<title>产品</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="/" class="logo_img"><img src="/static/images/logo.png" /></a>
<div class="header_Section">
 <div class="shortcut">
  <ul>
   {% if request.session.username %}
            <li><a href="userinfo">欢迎你!  {{request.session.username}}</a> </li>
            <li><a href="user/logout">注销</a> </li>
                {% else %}
            <li  class="hd_menu_tit"><em class="login_img"></em><a href="user/login">登录</a></li>
            <li  class="hd_menu_tit"><em  class="registered_img"></em><a href="user/register">注册</a></li>
                {% endif %}
   <li  class="hd_menu_tit"><em class="Collect_img"></em><a href="#">收藏夹</a></li>
   <li  class="hd_menu_tit"><em class="cart_img"></em><a href="#">购物车（0）</a></li>
   <li  class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em class="navigation_img"></em>
     
    <div class="hd_menu_list">
     <span class="wire"></span>
		   <ul>
		    <li><a href="#">常见问题</a></li>
			<li><a href="#">在线退换货</a></li>
		    <li><a href="#">在线投诉</a></li>
			<li><a href="#">配送范围</a></li>
		   </ul>
		</div>	
   </li>
  </ul>
 </div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href="/">首页</a></li>
{#   <li class=""><a href="list_1_3_1">所有果蔬</a></li>#}
      {% for typeinfo in request.session.typeinfos %}
   <li class=""><a href="/list_{{ typeinfo.pk}}_{{ sort }}_1">{{ typeinfo.fields.ttitle }}</a></li>
      {% endfor %}
   <li class=""><a href="#">会员中心</a></li>
   <li class=""><a href="#">联系我们</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div class="AD_img"><a href="#"><img src="/static/images/AD_page_img_02.png"  width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">素菜馆</a></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/list_{{ typeinfo.pk }}_3_1">销量</a></li>&nbsp;&nbsp;&nbsp;
    <a href="/list_{{ typeinfo.pk }}_1_1">新品</a></li>&nbsp;&nbsp;&nbsp;
    <a href="/list_{{ typeinfo.pk }}_2_1">价格</a></li>&nbsp;&nbsp;&nbsp;
   <div class="right Search">
    <input id="ssnr" value="{{ ssnr }}" class="Search_Box" placeholder="请输入您要搜索的内容"/>
    <input type="button"  value="" id="ssan" class="Search_btn"/>
   </div>
 </div>
</div>
<!--产品-->
<div class="Inside_pages">
  <!--水果馆-->
  <div class="fruits_Forum">
{#    <div class="title_style">#}
{#     <div class="title_name"><a href="#"><img src="/static/images/sg_pro_img_12.png" /></a></div>#}
{#     <div class="title_info">#}
{#      <p class="title_x_name">[健康水果小知识]</p>#}
{#      <p class="x_info">水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>#}
{#     </div>#}
{#     <div class="title_img"><img src="/static/images/sg_pro_img_17.png" /></div>#}
{#    </div>#}
    <div class="list_style">
      <ul class="clearfix">
          {% for goods in page %}
       <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="#" class="Collect"></a>
        <a href="/{{ goods.pk }}"><img src="/static/{{ goods.gpic }}" /></a>
        <p class="title_p_name">{{ goods.gtitle }}</p>
        <p class="title_Profile">{{ goods.gintro }}</p>
        <p class="price"><b>￥</b>{{ goods.gprice }}</p>
        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>
       </div>
       </li>
          {% endfor %}
      </ul>
  </div>
</div>


{#    <!--蔬菜馆-->#}
{#  <div class="vegetables_Forum">#}
{#          <div class="title_style">#}
{#     <div class="title_name"><a href="#"><img src="/static/images/vegetables_img_40.png" /></a></div>#}
{#     <div class="title_info">#}
{#      <p class="title_x_name">[健康水果小知识]</p>#}
{#      <p class="x_info">水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>#}
{#     </div>#}
{#     <div class="title_img"><img src="/static/images/sg_pro_img_18.png" /></div>#}
{#    </div>#}
{#    <div class="list_style">#}
{#      <ul class="clearfix">#}
{#          {% for goods in page %}#}
{#       <li class="clearfix">#}
{#       <div class="product_lists clearfix">#}
{#        <a href="#" class="Collect"></a>#}
{#        <a href="#"><img src="/static/{{ goods.gpic }}" /></a>#}
{#        <p class="title_p_name">{{ goods.gtitle }}</p>#}
{#        <p class="title_Profile">{{ goods.gintro }}</p>#}
{#        <p class="price"><b>￥</b>{{ goods.gprice }}</p>#}
{#        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>#}
{#       </div>#}
{#       </li>#}
{#          {% endfor %}#}
{#      </ul>#}
{#  </div>#}
{#  </div>#}
{##}
{#<div class="fruits_Forum">#}
{#    <div class="title_style">#}
{#     <div class="title_name"><a href="#"><img src="/static/images/sg_pro_img_13.png" /></a></div>#}
{#     <div class="title_info">#}
{#      <p class="title_x_name">[健康水果小知识]</p>#}
{#      <p class="x_info">水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>#}
{#     </div>#}
{#     <div class="title_img"><img src="/static/images/sg_pro_img_19.png" /></div>#}
{#    </div>#}
{#    <div class="list_style">#}
{#      <ul class="clearfix">#}
{#          {% for goods in page %}#}
{#       <li class="clearfix">#}
{#       <div class="product_lists clearfix">#}
{#        <a href="#" class="Collect"></a>#}
{#        <a href="#"><img src="/static/{{ goods.gpic }}" /></a>#}
{#        <p class="title_p_name">{{ goods.gtitle }}</p>#}
{#        <p class="title_Profile">{{ goods.gintro }}</p>#}
{#        <p class="price"><b>￥</b>{{ goods.gprice }}</p>#}
{#        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>#}
{#       </div>#}
{#       </li>#}
{#          {% endfor %}#}
{#      </ul>#}
{#  </div>#}
{#</div>#}
{##}
{#  <div class="vegetables_Forum">#}
{#          <div class="title_style">#}
{#     <div class="title_name"><a href="#"><img src="/static/images/sg_pro_img_14.png" /></a></div>#}
{#     <div class="title_info">#}
{#      <p class="title_x_name">[健康水果小知识]</p>#}
{#      <p class="x_info">水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>#}
{#     </div>#}
{#     <div class="title_img"><img src="/static/images/sg_pro_img_20.png" /></div>#}
{#    </div>#}
{#    <div class="list_style">#}
{#      <ul class="clearfix">#}
{#          {% for goods in page %}#}
{#       <li class="clearfix">#}
{#       <div class="product_lists clearfix">#}
{#        <a href="#" class="Collect"></a>#}
{#        <a href="#"><img src="/static/{{ goods.gpic }}" /></a>#}
{#        <p class="title_p_name">{{ goods.gtitle }}</p>#}
{#        <p class="title_Profile">{{ goods.gintro }}</p>#}
{#        <p class="price"><b>￥</b>{{ goods.gprice }}</p>#}
{#        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>#}
{#       </div>#}
{#       </li>#}
{#          {% endfor %}#}
{#      </ul>#}
{#  </div>#}
{#  </div>#}
</div>
    <div class="">
    <span>当前{{ page.number }}页,共{{ paginator.num_pages }}页</span>
        {% if page.has_previous %}
	<a href="/list_{{ typeinfo.id }}_{{ sort }}_{{ page.previous_page_number }}?ssnr={{ ssnr }}" class="">上一页</a>
        {% endif %}

    <select id="tzxl">
    <option value="">--请选择--</option>
    {% for pindex in paginator.page_range %}
        <option>{{ pindex }}</option>
    {% endfor %}
    </select>

	<input type="button" id="tzan" value="确定" />
    {% if page.has_next %}
	<a href="/list_{{ typeinfo.id }}_{{ sort }}_{{ page.next_page_number}}?ssnr={{ ssnr }}" class="">下一页</a>
    {% endif %}
    </div>
<!--底部样式-->
<div class="footer">
 <div class="footer_img_bg"></div>
 <div class="footerbox">
  <div class="footer_info">
    <div class="footer_left">
     <a href="#"><img src="/static/images/logo.png" /></a>
     <p class="erwm">
     <img src="/static/images/erweim.png"  width="80px" height="80px"/>
     <img src="/static/images/erweim.png"  width="80px" height="80px"/>
     <p>
    </div>
    <div class="helper_right clearfix">
     <dl>
      <dt><em class="guide"></em>新手指南</dt>
      <dd><a href="user/register">注册新用户</a></dd>
      <dd><a href="#">实名认证</a></dd>
      <dd><a href="#">找回密码</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_about"></em>关于我们</dt>
      <dd><a href="#">关于我们</a></dd>
      <dd><a href="#">政策服务</a></dd>
      <dd><a href="#">常见问题</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_conact"></em>联系我们</dt>
      <dd><a href="#">联系我们</a></dd>
      <dd><a href="#">在线客服</a></dd>
     </dl>
    </div>
  </div>
 </div> 
 <div class=" Copyright ">
   @2015 四川莆田特色馆版权所有
 
 </div>
</div>
</body>
</html>
<script>
    $(window).keydown(function (event) {
        if(event.keyCode==13){
            $('#ssan').click();
        }
    })

    $('#tzan').click(function () {
        var tzys=$('#tzxl').val().trim();
        if(tzys!=''){
            window.location.href="/list_{{ typeinfo.id }}_{{ sort }}_"+tzys+'?ssnr={{ ssnr }}';
        }
    })
    $('#ssan').click(function ssnr() {
        var ssnr=$('#ssnr').val().trim();
        if(ssnr!='')
        window.location.href="/list_{{ typeinfo.id }}_{{ sort }}_1?ssnr="+ssnr;
        else{
            $('#ssnr').val('');
            $('#ssnr').focus();
            $('#ssnr').attr('placeholder','搜索内容不能为空喔！');
        }
    })
</script>
