<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/jquery.foucs.js" type="text/javascript"></script>
<title>购物车</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="#" class="logo_img"><img src="images/logo.png" /></a>
<div class="header_Section">
 <div class="shortcut">
  <ul>
   <li  class="hd_menu_tit"><em class="login_img"></em><a href="#">登录</a></li>
   <li  class="hd_menu_tit"><em  class="registered_img"></em><a href="#">注册</a></li>
   <li  class="hd_menu_tit"><em class="Collect_img"></em><a href="#">收藏夹</a></li>
   <li  class="hd_menu_tit"><em class="cart_img"></em><a href="#">购物车（0）</a></li>
   <li  class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em class="navigation_img"></em>
     
    <div class="hd_menu_list">
     <span class="wire"></span>
		   <ul>
		    <li><a href="#">常见问题</a></li>
			<li><a href="#">在线退换货</a></li>
		    <li><a href="#">在线投诉</a></li>
			<li><a href="#">配送范围</a></li>
		   </ul>
		</div>	
   </li>
  </ul>
 </div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a herf="#">首页</a></li>
   <li class=""><a herf="#">所有果蔬</a></li>
   <li class=""><a herf="#">活动专区</a></li>
   <li class=""><a herf="#">水果馆</a></li>
   <li class=""><a herf="#">素菜馆</a></li>
   <li class=""><a herf="#">会员中心</a></li>
   <li class=""><a herf="#">联系我们</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div><a href="#"><img src="images/AD_page_img_02.png" width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="right Search">
   <form>
    <input name="" type="text"  class="Search_Box"/>
    <input name="" type="button"  name="" class="Search_btn"/>
    </form>
   </div>
 </div>
</div>
<!--购物车样式-->
<div class="Narrow">
  <div class="shop_cart">
     <div class="schedule"></div>
     <div class="cart_style">
       <div class="title_name">
        <ul>
         <li class="title_width"><label class="auto-label"><input type="checkbox" id="rememberMe"><span>全选</span></label></li>
         <li class="title_width1">商品信息</li>
         <li class="title_width2">单价</li>
         <li class="title_width3">数量</li>
         <li class="title_width4">小计</li>
         <li class="title_width5">操作</li>
        </ul>
       </div>
       <div class="list_style">
        <div class="class_title">水果馆</div>
         <ul class="product_cart">
         <li class="title_width"><input type="checkbox" id="rememberMe"></li>
         <li class="title_width1">
         <a href="#" class="product_img left"><img src="images/product_img_17.png" /></a>
         <p class="cart_content">
         <a href="#" class="title_name">浦江特产绿豌豆天然无污染</a>
         <span> 礼盒装：20个装</span>
         </p>
         </li>
         <li class="title_width2">￥23</li>
         <li class="title_width3">
           <div class="Numbers">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jian">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jia">+</a>
		 </div>        
         </li>
         <li class="title_width4">￥545</li>
         <li class="title_width5"><a href="#">删除</a></li>
         </ul>
         <ul class="product_cart">
         <li class="title_width"><input type="checkbox" id="rememberMe"></li>
         <li class="title_width1">
         <a href="#" class="product_img left"><img src="images/product_img_17.png" /></a>
         <p class="cart_content">
         <a href="#" class="title_name">浦江特产绿豌豆天然无污染</a>
         <span> 礼盒装：20个装</span>
         </p>
         </li>
         <li class="title_width2">￥23</li>
         <li class="title_width3">
           <div class="Numbers">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jian">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jia">+</a>
		 </div>        
         </li>
         <li class="title_width4">￥545</li>
         <li class="title_width5"><a href="#">删除</a></li>
         </ul>
       </div>
              <div class="list_style">
        <div class="class_title">水果馆</div>
         <ul class="product_cart">
         <li class="title_width"><input type="checkbox" id="rememberMe"></li>
         <li class="title_width1">
         <a href="#" class="product_img left"><img src="images/product_img_17.png" /></a>
         <p class="cart_content">
         <a href="#" class="title_name">浦江特产绿豌豆天然无污染</a>
         <span> 礼盒装：20个装</span>
         </p>
         </li>
         <li class="title_width2">￥23</li>
         <li class="title_width3">
           <div class="Numbers">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jian">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jia">+</a>
		 </div>        
         </li>
         <li class="title_width4">￥545</li>
         <li class="title_width5"><a href="#">删除</a></li>
         </ul>
         <ul class="product_cart">
         <li class="title_width"><input type="checkbox" id="rememberMe"></li>
         <li class="title_width1">
         <a href="#" class="product_img left"><img src="images/product_img_17.png" /></a>
         <p class="cart_content">
         <a href="#" class="title_name">浦江特产绿豌豆天然无污染</a>
         <span> 礼盒装：20个装</span>
         </p>
         </li>
         <li class="title_width2">￥23</li>
         <li class="title_width3">
           <div class="Numbers">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jian">-</a>
		  <input id="number" name="number" type="text" value="1" class="number_text">
		  <a href="javascript:void(0);" onclick="updatenum('del');" class="jia">+</a>
		 </div>        
         </li>
         <li class="title_width4">￥545</li>
         <li class="title_width5"><a href="#">删除</a></li>
         </ul>
       </div>
     </div>
     <!--操作-->
     <div class="cart_operating clearfix">
        <div class="cart_operating_style">
           <div class="cart_price">商品总价：（不含运费）<b>￥545</b></div>
           <div class="cart_btn"><a href="#" class="payment_btn"></a><a href="#" class="continue_btn"></a></div>
        </div>
     </div>
  </div>
</div>
<!--底部样式-->
<div class="footer">
 <div class="footer_img_bg"></div>
 <div class="footerbox">
  <div class="footer_info">
    <div class="footer_left">
     <a href="#"><img src="images/logo.png" /></a>
     <p class="erwm">
     <img src="images/erweim.png"  width="80px" height="80px"/>
     <img src="images/erweim.png"  width="80px" height="80px"/>
     <p>
    </div>
    <div class="helper_right clearfix">
     <dl>
      <dt><em class="guide"></em>新手指南</dt>
      <dd><a href="#">注册新用户</a></dd>
      <dd><a href="#">实名认证</a></dd>
      <dd><a href="#">找回密码</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_about"></em>关于我们</dt>
      <dd><a href="#">关于我们</a></dd>
      <dd><a href="#">政策服务</a></dd>
      <dd><a href="#">常见问题</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_conact"></em>联系我们</dt>
      <dd><a href="#">联系我们</a></dd>
      <dd><a href="#">在线客服</a></dd>
     </dl>
    </div>
  </div>
 </div> 
 <div class=" Copyright ">
   @2015 四川莆田特色馆版权所有 
 </div>
</div>
</body>
</html>
