<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/slide.js"></script>
<script src="/static/js/common_js.js" type="text/javascript"></script>
<script src="/static/js/jquery.foucs.js" type="text/javascript"></script>
<script src="/static/js/distpicker.data.js"></script>
<script src="/static/js/distpicker.js"></script>
<script src="/static/js/main.js"></script>
<title>用户地址管理</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="/" class="logo_img"><img src="/static/images/logo.png" /></a>
<div class="header_Section">
 <div class="shortcut">
  <ul>
   {% if request.session.username %}
            <li><a href="user/userinfo">欢迎你!  {{request.session.username}}</a> </li>
            <li><a href="logout">注销</a> </li>
                {% else %}
            <li  class="hd_menu_tit"><em class="login_img"></em><a href="user/login">登录</a></li>
            <li  class="hd_menu_tit"><em  class="registered_img"></em><a href="user/register">注册</a></li>
                {% endif %}
   <li  class="hd_menu_tit"><em class="Collect_img"></em><a href="#">收藏夹</a></li>
   <li  class="hd_menu_tit"><em class="cart_img"></em><a href="#">购物车（0）</a></li>
   <li  class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em class="navigation_img"></em>
     
    <div class="hd_menu_list">
     <span class="wire"></span>
		   <ul>
		    <li><a href="#">常见问题</a></li>
			<li><a href="#">在线退换货</a></li>
		    <li><a href="#">在线投诉</a></li>
			<li><a href="#">配送范围</a></li>
		   </ul>
		</div>	
   </li>
  </ul>
 </div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href="/">首页</a></li>
   <li class=""><a href="list_1_3_1">所有果蔬</a></li>
   <li class=""><a href="#">活动专区</a></li>
   <li class=""><a href="#">水果馆</a></li>
   <li class=""><a href="#">素菜馆</a></li>
   <li class=""><a href="#">会员中心</a></li>
   <li class=""><a href="#">联系我们</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div><a href="#"><img src="/static/images/AD_page_img_02.png" width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="right Search">
   <form>
    <input name="" type="text"  class="Search_Box"/>
    <input name="" type="button"  name="" class="Search_btn"/>
    </form>
   </div>
 </div>
</div>
<!--用户中心(地址管理界面)-->
<div class="Inside_pages clearfix">
 <div class="clearfix user" >
   <!--左侧菜单栏样式-->
     <div class="user_left">
      <div class="user_info">
       <div class="Head_portrait"><img src="/static/images/product_img_17.png"  width="80px" height="80px"/><!--头像区域--></div>
       <div class="user_name">用户蜜甘草<a href="#">[个人资料]</a></div>
      </div>
      <ul class="Section">
       <li><a href="#"><em></em><span>我的特色馆</span></a></li>
       <li><a href="userinfo"><em></em><span>个人信息</span></a></li>
       <li><a href="#"><em></em><span>修改密码</span></a></li>
       <li><a href="#"><em></em><span>我的订单</span></a></li>
       <li><a href="#"><em></em><span>我的评论</span></a></li>
       <li><a href="#"><em></em><span>我的积分</span></a></li>
       <li><a href="#"><em></em><span>我的收藏</span></a></li>
       <li><a href="shdz"><em></em><span>收货地址管理</span></a></li>
      </ul>
    </div>
    <!--右侧内容样式-->
    <div class="user_right">
      <div class="user_Borders">
       <div class="title_name">
        <span class="name">地址管理</span>
       </div>
       <div class="about_user_info">
         <form  action="add_save" method="post" id="form1">
             <input type="hidden" name="aid" value="{{ add.id }}"/>
             {% csrf_token %}
       <div class="user_layout">
         <ul>
          <li><label class="user_title_name">收件人姓名：</label><input name="reciver" maxlength="20" type="text" class="add_text" value="{{ add.reciver }}"><em>*</em></li>
                                                    <div id="distpicker1" data-toggle="distpicker">
                                                    <select name="sheng"></select>
                                                    <select name="shi"></select>
                                                    <select name="qu"></select>
                                                    </div>
          <li><label class="user_title_name">详细地址：</label><input name="detialaddr" maxlength="100" type="text" class="add_text" value="{{ add.detialaddr }}"><em>*</em></li>
          <li><label class="user_title_name">邮&nbsp;&nbsp;&nbsp;&nbsp;编：</label><input name="yzbm" maxlength="6" type="text" class="add_text" value="{{ add.yzbm }}"><em>*</em></li>
          <li><label class="user_title_name">手&nbsp;机&nbsp;号：</label><input name="rphone" maxlength="20" type="text" class="add_text" value="{{ add.rphone }}"><em>*</em></li>
          <li><label class="user_title_name">固定电话：</label><input name="" type="text" class="add_text"></li>         
         </ul>
         <div class="operating_btn"><input name="name" type="submit" value="确认" class="submit—btn"></div>
         </div>
          </form>       
       </div>
       <!--地址列表-->
       <div class="Address_List">
        <div class="title_name"><span class="name">用户地址列表</span></div>
        <div class="list">
         <table>
         <thead>
          <td class="list_name_title0">收件人姓名</td>
          <td class="list_name_title1">地区</td>
          <td class="list_name_title2">邮编</td>
          <td class="list_name_title3">电话</td>
          <td class="list_name_title4">收货地址</td>
          <td class="list_name_title5">默认地址</td>
          <td class="list_name_title6">操作</td>
         </thead>
         {% for add in adds %}
          <tr><td>{{ add.reciver }}</td><td>{{ add.sheng}}{{ add.shi }}{{ add.qu }}</td><td>{{ add.yzbm }}</td><td>{{ add.rphone }}</td><td>{{ add.detialaddr }}</td><td>{% if add.mrdz %}默认地址{% endif %}</td><td><a href="mrdz?dzid={{ add.id }}">设为默认</a><a href="bjdz?dzid={{ add.id }}">修改</a><a href="scdz?dzid={{ add.id }}">删除</a></td></tr>
            {% endfor %}
             <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
         </table>
        </div>
       </div>
      </div>
   </div>
 </div>
</div>
<!--底部样式-->
<div class="footer">
 <div class="footer_img_bg"></div>
 <div class="footerbox">
  <div class="footer_info">
    <div class="footer_left">
     <a href="#"><img src="/static/images/logo.png" /></a>
     <p class="erwm">
     <img src="/static/images/erweim.png"  width="80px" height="80px"/>
     <img src="/static/images/erweim.png"  width="80px" height="80px"/>
     <p>
    </div>
    <div class="helper_right clearfix">
     <dl>
      <dt><em class="guide"></em>新手指南</dt>
      <dd><a href="#">注册新用户</a></dd>
      <dd><a href="#">实名认证</a></dd>
      <dd><a href="#">找回密码</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_about"></em>关于我们</dt>
      <dd><a href="#">关于我们</a></dd>
      <dd><a href="#">政策服务</a></dd>
      <dd><a href="#">常见问题</a></dd>
     </dl>
     <dl>
      <dt ><em class="h_conact"></em>联系我们</dt>
      <dd><a href="#">联系我们</a></dd>
      <dd><a href="#">在线客服</a></dd>
     </dl>
    </div>
  </div>
 </div> 
 <div class=" Copyright ">
   @2015 四川莆田特色馆版权所有 
 </div>
</div>
</body>
</html>
<script>
    $("#distpicker1").distpicker({
      province: "{{ add.sheng }}",
      city: "{{ add.shi }}",
      district: "{{ add.qu }}"
    });
</script>
